# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.opendb
*.db-wal
*.db-shm
*.tlog
*.log
*.filters
*.vcxproj
*.suo
*.idb
*.pdb
*.user
*.pdb
*.ilk
*.pdb
/CollisionDetection/Example/
